<h1 class="title">Conferencias NFL</h1>

<div class="conferences">

  @for (conference of conferences$ | async; track conference.id) {

    <section class="conference-card">

      <p class="conference-id">{{ conference.id }}</p>
      <p class="conference-name">{{ conference.name }}</p>

      <div class="divisions">

        @for (division of conference.divisions; track division.id) {
          <div class="division-card">
            <h3>{{ division.name }}</h3>
            <ul>
              @for (team of division.teams; track team) {
                <li>{{ team }}</li>
              }
            </ul>
          </div>
        }

      </div>

    </section>

  }

</div>
